<div id="<%= dom_id resource %>">
  <p class="my-5">
    <%= resource.data %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show", resource, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit', edit_resource_path(resource), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <% if resource.file.attached? %>
      <%= link_to 'Download', rails_blob_path(resource.file, disposition: "attachment"), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
    <hr class="mt-6">
  <% end %>

</div>
