<div class="mx-auto md:w-2/3 w-full">
  <%= render "form", resource: @resource %>

  <%= link_to "Cancel", @resource, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back", resources_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
